.message-desktop-condition {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.messageList-desktop-condition {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.message-list-container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
  width: 100%;
}

.desktop-messaging-wrapper {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: flex-start;
  /* background-color: rgb(180, 180, 180); */
}

.middle-messaging {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  margin-top: 4vh;
  margin-bottom: 4vh;
  margin-left: 1rem;
  margin-right: 2rem;
  height: 92vh;
  min-width: 20rem;
  flex-grow: 3;
}

.right-messaging {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  margin-top: 4vh;
  margin-bottom: 4vh;
  margin-left: 1rem;
  margin-right: 2rem;
  height: 92vh;
  max-width: 20rem;
  min-width: 18rem;
  flex-grow: 1;
}

.desk-message-list {
  position: relative;
  padding-top: 1rem;
  background-color: white;
  width: 100%;
  height: 82%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  border: var(--grey-border);
  overflow-y: scroll;
}

.messaging-deskHead {
  width: 100%;
  border: var(--grey-border);
  border-bottom: none;
  height: 4em;
  background-color: white;
}

.messaging-deskHead h3 {
  color: var(--grey-title);
  text-align: center;
}

.mid-message-head {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 6vh;
  margin-bottom: 2vh;
  background-color: white;
  border: var(--grey-border);
}

.mid-convo-container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 75vh;
  width: 100%;
  background-color: white;
  border: var(--grey-border);
}

.mid-convo-input {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 7vh;
  margin-top: 2vh;
  width: 100%;
  background-color: white;
  border: var(--grey-border);
}

.add-image-icon-desk {
  width: 2.5rem;
  height: auto;
  color: white;
}

.mid-convo-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 6.5vh;
  width: 100%;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  border-bottom: var(--grey-border);
  background-color: white;
}

.mid-convo-header h3 {
  color: var(--grey-title);
  text-align: center;
}

.mid-convo-head-image {
  height: 3rem;
  width: 3rem;
  border-radius: 50%;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  margin-left: 1.5rem;
  margin-right: 1.5rem;
  overflow: hidden;
}

.mid-convo-head-image img {
  min-height: 100%;
  max-height: 140%;
  min-width: 100%;
  max-width: 140%;
  object-fit: cover;
}

.message-image-input {
  position: absolute;
  height: 100%;
  width: 100%;
  border-radius: 50%;
  border: 2px solid red;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  cursor: pointer;
  opacity: 0;
}

@media (max-width: 849px) {
  .message-desktop-condition {
    display: none;
  }
  .desktop-messaging-wrapper {
    display: none;
  }
}

@media (min-width: 850px) {
  .messageList-desktop-condition {
    display: none;
  }
  .onlyMobile {
    display: none;
  }
}
